  <div class="green-banner">
   <h1><i>"De beste interviews met campinghouders in de BeNeLux"</i></h1>
   <p><i>Een simpele website zonder poespas, maar mét <b>echte</b> verhalen over <b>echte</b> mensen.</i></p>
 </div>
 <div class="general-container">

  <div class="about">

    <h1><b>Over ons</b></h1>
    <h4>Waarom deze website?</h4>
    <p>Voor onze werkzaamheden als full-service webdevelopment bureau voor campings, staan wij dagelijks in contact met campinghouders.</p>

    <p>Dit levert ongelofelijk veel interessante gesprekken op, die eigenlijk te mooi zijn om voor onszelf te houden. Vandaar dat we deze website zijn gestart om alle leuke verhalen te verzamelen als hobby project.</p>

    <p>Wij hopen dat jullie de interviews met campinghouders met evenveel plezier lezen als wij hebben met de gesprekken zelf.</p>

    <h4>Ontbreekt er een interview?</h4>
    <p>Mocht je het leuk vinden om te vertellen over jouw camping of ken jij iemand die wij absoluut moeten interviewen? Stuur dan even een berichtje naar xxxxx@xxxx.com </p>

    <h5><i>Veel leesplezier gewenst!</i></h5>

    <div class="signature-logo">
      <i class="fas fa-campground fa-2x"></i>
      <p>KampeerSupport</p>
    </div>
  </div>
</div>
<%= render 'shared/footer-about' %>
