.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.green-banner{
  background-color: #bad08e;
  height: auto;
  color: white;
  text-align: center;
  padding: auto;
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  h1{
    font-size: 32px;
  }
  p{
    font-size: 22px;
    margin: 0;
  }
}

@media(max-width: 768px) {
  .green-banner {
  padding: 6% 5% 3% 5%;
  height: auto;
  h1{
    font-size: 26px;
  }
  p{
    font-size:19px;
    margin: 0;
  }
}
.banner{
  padding: 10% 0;
}
}
