.comments-box{
  margin-top: 2%;
  background-color: white;
  padding: 2%;
}

.btn-comment{
  background-color: #75A21E;
  color: white;
  font-weight: bold;
}

.all-comments{
  margin-top: 3%;
}

.comment{
  background-color: #F1F2FA;
  p{
    margin: 0 0 2% 0;
  }
}
