.comments-box{
  margin-top: 2%;
  background-color: white;
  padding: 2%;
  border-radius: 3%;
}

.btn-comment{
  background-color: #75A21E;
  color: white;
  font-weight: bold;
}

.all-comments{
  margin-top: 3%;
}

.comment{
  background-color: #F1F2FA;
  border-radius: 3%;
  padding: 1%;
  margin-bottom: 1%;
  p{
    margin: 0;
  }
}
