.footer {
  background-color: #76A21E;
  height: 25px;
  padding: 0px 50px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  position: absolute;
  width: 100%;
  // margin-bottom: 0;
  // bottom: 0px;
  flex-shrink: 0;
}
