body {
  // background-color: #f5f5f5;
  background-color: gray;
}

.general-container {
  // background-color: #f5f5f5;
  background-color: gray;
  margin: 2% 25%;
}

.content{
  background-color: yellow;
}
