.navbar-blog {
  justify-content: space-between;
  background: white;
  background-color: white;
  padding: 0.5% 5%;
  i {
    color: #75A21E;
  } a {
  color: #75A21E;
}
}

.navbar-blog .navbar-collapse {
  flex-grow: 0;
}

.navbar-blog .navbar-brand img {
  width: 40px;
}
