.signature-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #76A21E;
  padding: 0% 0;
  p {
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    padding: 0 0 0 2%;
    margin-bottom: 0;
    color: #7F6970;
  }
}
