<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We nemen contact met u op om u te laten weten dat uw e-mailadres wordt gewijzigd in <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We nemen contact met u op om u te laten weten dat uw e-mailadres is gewijzigd in <%= @resource.email %>.</p>
<% end %>
